version: '3'

networks:
  base:
volumes:
  db-store:
services:
  nextjs:
    build: 
      dockerfile: ./dockerfiles/nextjs.Dockerfile
    ports:
      - "3000:3000"
    networks:
      - base
    environment:
      - ENDPOINT=db
      - DATABASE=ktane
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - DISCORD_WEBHOOK_URL=${DISCORD_WEBHOOK_URL}
      - URL=https://ktane.regularofvanilla.com/
  db:
    build: 
      dockerfile: ./dockerfiles/mysql.Dockerfile
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_DATABASE=ktane
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    networks:
      - base
    volumes:
      - db-store:/var/lib/mysql